# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Node.js (зависимости и логи)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Архивы и файлы сборки React Native
.expo/
.metro/
dist/

# Android-специфичные файлы
android/app/build/
android/.gradle/
android/local.properties
android/generated/
*.iml
.idea/

# iOS-специфичные файлы
ios/build/
ios/DerivedData/
ios/Pods/
ios/.xcode.env.local
*.xcworkspace
*.xcuserstate
*.lock

# Конфиденциальные данные и ключи (ВАЖНО)
*.keystore
*.jks
google-services.json
GoogleService-Info.plist

# Операционная система
Thumbs.db